<nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse ">
            <a href="#/admin" class="navbar-brand pull-left">
                <span class="glyphicon glyphicon-film"></span>
                <b class="tr-logo">MovieFlix</b>
            </a>
    <a href="#/logout" class="navbar-brand pull-right">
        <span class="glyphicon glyphicon-off"></span>
    </a>
            <a class="navbar-brand btn btn-primary tr-admin-button pull-right">Admin</a>

</nav>

<div ng-show="model.error" class="alert alert-danger" >
    {{model.error}}
</div>

<div class="alert alert-success" ng-show="model.message">
    {{model.message}}
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-5">

            <div class="panel panel-default" id="panel">
                <div class="panel-heading">
                    <h2 class="panel-title">Required links</h2>
                </div>
                <ul class="list-group">
                    <li ng-class="{active : activeMenu == 'Review Requests'}"  class="list-group-item tr-admin-panel">
                        <a ng-click="model.setActive('Review Requests')">Review Requests</a>
                    </li>
                    <li ng-class="{active: activeMenu == 'Users'}" class="list-group-item tr-admin-panel">
                        <a ng-click="model.setActive('Users'); model.findAllUsers()">Users</a>
                    </li>
                </ul>
            </div>
        </div>

    <div class="col-xs-7" ng-show="model.activeMenu == 'Review Requests'">
        <ul>
          <li class="list-group"  ng-repeat="request in model.reviewrequests.data">
              <div ng-if="request.userId!=model.user._id">
                  <p>
                  Review by:
                  <a>{{request.user.username}}</a>
                  </p>
                  <p> Comment:
                 <i style="color:black">{{request.comment}}</i>
                  </p>
                    <span>
                        <a ng-show="!model.request.isCritc" ng-click="model.approveCritic(request)" class="btn btn-primary">Approve</a>
                        <a class="btn btn-danger" ng-click="model.declineReview(request)">Decline</a>
                    </span>
              </div>
          </li>
        </ul>
    </div>

    <div class="col-xs-7" ng-show="model.activeMenu == 'Users'">
        <h2><u>Users</u></h2>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="person in model.users">
                <a>{{person.username}}</a>
                <a class="btn btn-primary" ng-show="person.roles=='critic'" ng-click="model.demoteUser(person)">
                    Demote
                </a>
                <a class="btn btn-danger" ng-click="model.remove(person)">Delete</a>
            </li>
        </ul>
    </div>

    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer navbar-text pull-right">
            <a>
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

</div>
