<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#/search">
        <span class="glyphicon glyphicon-film pull-left"></span>
        MoviePlex
    </a>

            <!--<div ng-hide="!model.user">
                <a class="navbar-brand ">Hello, {{model.user.username}}</a>
                <a href="#/user/{{model.user._id}}" class="navbar-brand ">Profile</a>
            </div>-->

                <a href="#/register" class="navbar-brand pull-right">Register</a>
                <a href="#/login" class="navbar-brand pull-right">Login</a>


</nav>

<div class="container">
    <h1>Login</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

        <input ng-model="user.username" class = "form-control" placeholder="username"/>
        <input ng-model="user.password" type="password" class = "form-control" placeholder="password"/>

    <a class="btn btn-primary btn-block" ng-click="model.login(user)">Login</a>
    <a href="#/register" class="btn btn-success btn-block">Register</a>

    </form>


</div>
