<nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse ">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/user/{{model.currentUser._id}}/searchMovies">
            <span class="glyphicon glyphicon-film pull-left"></span>
            <b class="tr-logo">MovieFlix</b>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="#/user/{{model.currentUser._id}}/searchMovies">Search Movies</a></li>
        </ul>
        <div class="col-sm-4 col-md-5">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Username"
                           ng-model="model.searchusername" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-click="model.searchUsers(model.searchusername)">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="navbar-brand" href="#/user/{{model.currentUser._id}}">My Profile</a>
            </li>
            <li><a class="navbar-brand" href="#/logout">Logout</a></li>

        </ul>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-xs-5 col-md-3 tr-left-profile tr-right-border">

        <a class="btn btn-primary" ng-if="model.user.role=='critic'">Critic</a>
        <ul class="list-group">
            <li ng-class="{active : activeMenu == 'Profile'}"  class="list-group-item btn tr-profile-leftsidebar" ng-click="model.setActive('Profile')">
                <div class="row">
                    <a><b>Profile</b></a>
                </div>
            </li>
            <li ng-class="{active : activeMenu == 'Movies'}" class="list-group-item btn tr-profile-leftsidebar" ng-click="model.setActive('Movies')">
                <div class="row">
                    <a><b>Movies</b></a>
                </div>
            </li>
            <li ng-class="{active : activeMenu == 'Followers'}" class="list-group-item btn tr-profile-leftsidebar" ng-click="model.setActive('Followers')">
                <div class="row">
                    <a>
                        <b>Followers    ( {{model.user.followers.length}} )</b>
                </a>
                </div>
            </li>
            <li ng-class="{active : activeMenu == 'Following'}" class="list-group-item btn tr-profile-leftsidebar" ng-click="model.setActive('Following')">
                <div class="row">
                    <a>
                        <b>Following     ( {{model.user.following.length}} )</b>
                </a>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-xs-7 col-md-9 tr-right-profile" ng-show="model.activeMenu == 'Profile' && !model.usersearch">
        <div ng-show="model.error" class="alert alert-danger" >
            {{model.error}}
        </div>

        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>

        <div ng-hide="model.currentUser._id == model.user._id">
            <h4>Username: {{model.user.username}}</h4>
            <br>
            <h4>FirstName: {{model.user.firstName}}</h4>
            <br>
            <h4>LastName: {{model.user.lastName}}</h4>
            <br>
            <a ng-show="model.currentUser.following.indexOf(model.user._id)<0 && model.currentUser._id != model.user._id"
                class="btn btn-primary" ng-click="model.follow(model.user)">Follow</a>
        </div>
        <form>
            <div class="form-group" ng-hide="model.currentUser._id!=model.user._id">
                <label for="username">Username</label>
                <input ng-model="model.currentUser.username"
                       type="text"
                       class="form-control"
                       placeholder="username"
                       id="username">

                <label for="firstname">First Name</label>
                <input ng-model="model.currentUser.firstName"
                       type="text"
                       class="form-control"
                       placeholder="First name"
                       id="firstname">

                <label for="lastname">Last Name</label>
                <input ng-model="model.currentUser.lastName"
                       type="text"
                       class="form-control"
                       placeholder="Last name"
                       id="lastname">

                <label for="password">Password</label>
                <input ng-model="model.currentUser.password"
                       type="password"
                       class="form-control"
                       placeholder="Password"
                       id="password"
                       readonly>

                <a ng-click="model.update(model.currentUser)"
                   class="btn btn-primary btn-block">
                    Update
                </a>
                <a href="#/logout" class="btn btn-danger btn-block">
                    Logout
                </a>
            </div>
        </form>
    </div>

    <div class="col-xs-7  col-md-9 tr-right-profile" ng-show="model.activeMenu == 'Movies' && !model.usersearch">
        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="likedMovie in model.movies">
            <div class="thumbnail tr-thumbnail">
                <a href="#/user/{{model.currentUser._id}}/movie/{{likedMovie.id}}">
                    <img ng-src="https://image.tmdb.org/t/p/w185/{{likedMovie.poster_path}}" alt="src">
                    <div class="caption" id="tr-thumbnail-rating">
                        <h4>{{likedMovie.title}}</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-7  col-md-9 tr-right-profile" ng-show="model.activeMenu == 'Followers' && !model.usersearch">
        <h2>Followers</h2>
        <br>
        <br>
        <i>{{model.user.followers.length}} followers</i>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="follower in model.followers">
                <a href="#/user/{{follower._id}}">{{follower.username}}</a>
            </li>
        </ul>
    </div>

    <div class="col-xs-7  col-md-9 tr-right-profile" ng-show="model.activeMenu == 'Following' && !model.usersearch">
        <h2>Following</h2>
        <br>
        <br>
        <i>{{model.user.following.length}} following</i>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="following in model.followingusers">
                <a ng-if="model.userId==model.currentUser._id" ng-click="model.unfollow(following)" class="glyphicon glyphicon-remove pull-right"></a>
                <a href="#/user/{{following._id}}">{{following.username}}</a>
            </li>
        </ul>
    </div>

    <div class="col-xs-7  col-md-9 tr-right-profile" ng-show="model.usersearch">
        <h2>Search Users</h2>
        <br>
        <br>
        <i>{{model.filteredUsers.length}} users found</i>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="filteredUser in model.filteredUsers">
                <a href="#/user/{{filteredUser._id}}">{{filteredUser.username}}</a>
            </li>
        </ul>
    </div>

</div>


