<nav class="navbar navbar-inverse navbar-fixed-top">
    <a ng-show="model.currentUser!=null" href="#/user/{{model.currentUser._id}}/searchMovies" class="navbar-brand pull-left">
        <span class="glyphicon glyphicon-film"></span>
        <b class="tr-logo">MovieFlix</b>
    </a>
    <a ng-show="model.currentUser==null" href="#/search" class="navbar-brand pull-left">
        <span class="glyphicon glyphicon-film"></span>
        <b class="tr-logo">MovieFlix</b>
    </a>

    <div class="col-sm-4 col-md-5 hidden-xs">
        <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Movies"
                       ng-model="keyword" name="q">
                <div class="input-group-btn">
                    <button class="btn btn-default" id="tr-admin-button" type="submit" ng-click="model.searchMovie(keyword)">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <a ng-show="model.currentUser!=null" href="#/logout" class="navbar-brand pull-right">
        <span class="glyphicon glyphicon-off"></span>
    </a>
    <a ng-show="model.currentUser!=null" href="#/user/{{model.currentUser._id}}" class="navbar-brand pull-right ">My Profile</a>
    <a ng-show="model.currentUser==null" href="#/register" class="navbar-brand pull-right">Register</a>
    <a ng-show="model.currentUser==null" href="#/login" class="navbar-brand pull-right">Login</a>
</nav>

<div ng-show="model.error" class="alert alert-danger" >
    {{model.error}}
</div>

<div class="alert alert-success" ng-show="model.message">
    {{model.message}}
</div>

<div class="container-fluid tr-upperbackground">
    <div class=".bg-overlay">
        <div class="tr-search-field">
            <div class="visible-xs">
                <h1>Search Movies</h1>

                <div class="row tr-input-field tr-search-field">
                    <div>
                        <input ng-model="keyword" class = "form-control" placeholder="keyword"/>
                    </div>
                    <div class="row container-fluid tr-search-field">
                    <div class="col-xs-4"></div>
                    <div>
                        <a class="btn btn-block tr-btn" id="tr-admin-button" ng-click="model.searchMovie(keyword)">Go</a>
                    </div>
                    <div class="col-xs-4"></div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>

            <div ng-show="!model.searchActivated">
                <h2 class="tr-movie-header">Upcoming Releases</h2>

                    <div class="col-md-4 col-sm-6 col-xs-12 placeholder" ng-repeat="upcomingMovie in model.upcomingMovies">
                        <div class="thumbnail tr-thumbnail">
                            <div class="tr-movie-toolbar" ng-hide="!model.userId">
                                <a class="navbar-brand pull-right" ng-if="!model.alreadyLiked(upcomingMovie.id)"
                                   ng-init="liked=false"
                                   ng-click="model.addMovie(upcomingMovie.id,upcomingMovie); liked=true" ng-hide="!model.userId || liked">
                                    <span class="glyphicon glyphicon-bookmark"></span>
                                </a>
                            </div>
                            <div class="embed-responsive embed-responsive-4by3">
                            <a href="#/user/{{model.currentUser._id}}/movie/{{upcomingMovie.id}}">
                                <img alt="src" href="#/user/{{model.currentUser._id}}/movie/{{upcomingMovie.id}}" class="img img-responsive"
                                     ng-src="https://image.tmdb.org/t/p/w500/{{upcomingMovie.poster_path}}"
                                     src="../../../uploads/no-image.png">
                            </a>
                            </div>
                            <div class="caption" id="tr-thumbnail-title">
                                <a href="#/user/{{model.currentUser._id}}/movie/{{upcomingMovie.id}}">
                                    <h4>{{upcomingMovie.title | limitTo:30}}</h4>
                                    <a>Rating: {{upcomingMovie.vote_average}}/10</a>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>

            <div ng-show="model.searchActivated">
                <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="movie in model.results.results">
                    <div class="thumbnail tr-thumbnail">
                        <div class="tr-movie-toolbar" ng-hide="!model.userId">
                            <a class="navbar-brand pull-right" ng-if="!model.alreadyLiked(movie.id)" ng-init="liked=false"
                               ng-click="model.addMovie(movie.id,movie); liked=true" ng-hide="!model.userId || liked">
                                <span class="glyphicon glyphicon-bookmark"></span>
                            </a>
                        </div>
                        <img class="embed-responsive embed-responsive-4by3" id="tr-search-img" ng-if="movie.poster_path" ng-src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" ng-click="model.showDetails(movie.id)">
                        <img class="embed-responsive embed-responsive-4by3" id="tr-search-img" ng-if="!movie.poster_path" ng-src="../../../uploads/no-image.png" ng-click="model.showDetails(movie.id)">
                        <div class="caption" id="tr-thumbnail-title">
                            <a ng-click="model.showDetails(movie.id)">
                                <h4>{{movie.title}}</h4>
                            </a>
                        </div>
                        <div id="tr-thumbnail-rating">
                            <span class="glyphicon glyphicon-star"></span>
                            Rating : {{movie.vote_average}}/10
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>