<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left tr-header-left-margin">
                <a href="#/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right tr-header-right-margin">
                <a href="#/user/{{model.userId}}/website/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">Websites</a>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="navbar-text pull-left tr-header-left-margin visible-xs">
                <a href="#/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-text pull-right tr-header-right-margin">
                <a href="" ng-click="model.updateWeb(model.website)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>

            <div class="navbar-header">
                <a class="navbar-brand pull-left tr-no-left-header-margin">
                    Edit Website
                </a>
            </div>
        </div>
    </div>
</nav>


<div class="row container-fluid tr-no-left-header-margin">
    <div class="col-sm-4 hidden-xs tr-left-pane tr-right-border">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div>
                        Name
                        <a>
                            <span class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </div>
                </div>
            </li>

            <li ng-repeat="website in model.websites" class="list-group-item">
                <div class="row">
                    <div class="col-sm-10">
                        <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                            {{website.name}}
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a href="#/user/{{model.userId}}/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <div class="col-xs-12 col-sm-8 tr-right-pane">
        <form>
            <div class="form-group">
                <label for="websitename">Website Name</label>
                <input ng-model="model.website.name"
                        type="text"
                        class="form-control"
                        id="websitename"
                        placeholder="Name">
            </div>
            <div class="form-group">
                <label for="webdesc">Description</label>
                <textarea ng-model="model.website.description"
                        class="form-control span6"
                        rows="5"
                        id="webdesc"
                        placeholder="Description">
                </textarea>
            </div>

            <a ng-click="model.deleteWebsite(model.website)" class="btn btn-danger btn-block">Delete</a>
        </form>
    </div>
</div>

<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>
</div>
