input.form-control {
    margin-bottom: 5px;
}

/*body {
    padding-top: 36px;
}*/

a{margin-top:5px;}
/*margin-left:30px;*/

input.form-control{
    margin-bottom:10px;
}

.form-group .form-control{

    margin-bottom:15px;
}

body{
    margin-top:30px;
    margin-bottom:50px;
    padding-top: 36px;
    padding-left:5px;
    padding-right:5px;
}

h1{text-align:center;
    margin-bottom:15px;
}

.row
{
    margin-right:0px;
    margin-left:0px;
}

.tr-header h1{
    text-align:left;
    margin-bottom:0px;

}


body.tr-body-register-margin{margin-top:20px;}

.tr-header-right-margin {margin-right:3px;}
.tr-header-left-margin {margin-left:3px;}

.tr-right-margin {margin-right:15px;}
.tr-left-margin {margin-left:20px;}

.tr-no-left-header-margin{margin:0px;}

.tr-no-left-padding{padding-left:0px;}

.navbar-default {
    background-color: #428bca;
}

.navbar-inverse
{
    background-color: #3f3f3f;
    opacity: 0.98;
}
.navbar-default .navbar-brand{color:white !important;}
.navbar-inverse .navbar-brand{color:white !important;}
.navbar a{color:#acacac;
}

.navbar a:hover
{
    color:white;
}

.tr-upload-button
{
    background-color: #aaaaaa;
    border-color: darkgray;
    color:#222222;
}

.tr-upload-button:hover
{
    background-color: #9a9a9a;
}

.tr-right-border
{
    border-right-style:solid;
    border-right-width: 1.8px;
    border-right-color: lightgray;
}



li.borderless{
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:none;
}

.tr-left-pane {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 15px;
    overflow: auto;
    padding-right:0px;
    padding-left:0px;


}
.tr-right-pane {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin-bottom: 52px;
    margin-top: 60px;
    padding-left: 30px;
    padding-right: 15px;
    overflow-y: auto;

}

.tr-widget-toolbar
{
    position:absolute;
    background-color:white;
    right: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top:5px;
    border-bottom-left-radius: 5px;
    opacity:0.8;
}

img
{
    margin-top:5px;
    //margin-bottom:15px;

}

/*.youtube-widget
{
    position: relative;
    /*padding-bottom: 56.25%; 16:9 */
/*height: 0;

}*/

.youtube-widget iframe
{
    position: absolute;
    margin-top:5px;
    margin-bottom:15px;
    width: 100%;
    height: 100%;

}

.glyphicon{
    margin-right:5px;
}

p{
    padding-left: 5px;
    padding-right: 5px;}

a:-webkit-any-link{
    text-decoration: none;}

.tr-widgets{
    margin-bottom:5px;
}

body{
    margin-top: 60px;
    //background: #524f5c;
//opacity: 100;
}

.tr-upperbackground
{
    margin-bottom: 20px;
//background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2), rgba(0,0,0,.2)),url("lights_events.jpg");

//background-size: cover;
}

.tr-search-field{
    //color: #F0F0F0;
    color: #3f3f3f;
    text-align:center;
}

.tr-left-justify{
    text-align: left;
}

.form-control{
    margin-top:5px;
    margin-bottom:5px;
}

.tr-btn
{
    margin-top:20px;
    margin-bottom: 20px;
}

.tr-input-field{
    margin-left: 100px;
    margin-right: 100px;
}

.tr-search-results{
    color:black;
}
.tr-admin-button{
    color:white; !important;
}

.tr-profile-sidebar a{
    color: #acacac; !important;
}

.tr-profile-sidebar a:hover{
    color: white; !important;
    cursor: pointer;
    text-decoration: none;
}

.tr-profile-sidebar .list-group-item{
    background-color: #3f3f3f;
    opacity: 0.98;
}

.tr-profile-sidebar .active{
    background-color: white;
    opacity: 0.98;
}

.thumbnail{
    margin-left: 5px;
    margin-bottom: 5px;
}

#tr-profile-btn{
    color: white;
}

.card{
    background-color: #524f5c;
    border-radius: 10px;
    //padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-wrap: wrap;
    //overflow: auto;
    //max-height:300px;
    color: white;
}

.card .card-img{
    padding-top: 2px;
    border-radius: 5px;
    border-color: black;
    padding-left: 2px;
    padding-right: 2px;
    margin-top:0px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right:0px;
    width : 100%;
    //height: 300px;

}

.card a{
    color: whitesmoke;
}

.card a:hover{
    color: white;
}

