<div class="container tr-body-register-margin">

    <h1>Register</h1>
    <div  class="alert alert-success" ng-show = "model.message">
        {{model.message}}
    </div>

    <input ng-model="user.username" type="text" class = "form-control" placeholder="username"/>
    <input ng-model="user.password" type="password" class = "form-control" placeholder="password"/>
    <input type="password" class = "form-control" placeholder="verify password"/>

    <a  ng-click="model.register(user)" class="btn btn-primary btn-block">Register</a>
    <a href="#/login" class="btn btn-danger btn-block">Cancel</a>

</div>
