<nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse ">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/user/{{model.currentUser._id}}/searchMovies">
            <span class="glyphicon glyphicon-film pull-left"></span>
            <b class="tr-logo">MovieFlix</b>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="#/user/{{model.currentUser._id}}/searchMovies">Search Movies</a></li>
        </ul>
        <div ng-show="model.userId">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-brand" href="#/user/{{model.currentUser._id}}">My Profile</a>
                </li>
                <li><a class="navbar-brand" href="#/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class=".bg-overlay">
        <div ng-show="model.error" class="alert alert-danger" >
            {{model.error}}
        </div>

        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>

        <div class="col-sm-4 col-xs-12">
            <h2><u>{{model.movie.title}}</u></h2>
            <br>
            <img ng-src="https://image.tmdb.org/t/p/w185/{{model.movie.poster_path}}">
        </div>
        <div ng-hide="model.reviewSubmitted" class="col-sm-8 col-xs-12">
            <h3>Write review for this movie</h3>
            <div class="form-group">
            <br>
            <textarea class="form-control" ng-model="review.description" rows="10" cols="80" placeholder="Write Review"></textarea>
            <br>
            <br>
            <button class="btn btn-primary" ng-click="model.submitReview(review)">Submit Review</button>
            </div>
    </div>
    </div>
</div>